<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_bangcuuchuong"
        tools:targetApi="31">
        <activity
            android:name=".ChoiActivity_modede"
            android:exported="false" />
        <activity
            android:name=".mode_de_Activity"
            android:exported="false" />
        <activity
            android:name=".Kho_choi_Activity"
            android:exported="false" />
        <activity
            android:name=".Trungbinh_choi_Activity"
            android:exported="false" />
        <activity
            android:name=".De_choi_Activity"
            android:exported="false" />
        <activity
            android:name=".Choi_Activity"
            android:exported="false" />
        <activity
            android:name=".About_Activity"
            android:exported="false" />
        <activity
            android:name=".term_Activity"
            android:exported="false" />
        <activity
            android:name=".PolicyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Setting_Activitymain"
            android:exported="false" />
        <activity
            android:name=".choi_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity_choi"
            android:exported="false" />
        <activity
            android:name=".Quiz_Activity"
            android:exported="false" />
        <activity
            android:name=".HocActivity1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>